# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
-   repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.4.0
    hooks:
    -   id: setup-cfg-fmt
- repo: https://github.com/psf/black
  rev: '23.3.0'
  hooks:
      - id: black
- repo: https://github.com/PyCQA/flake8
  rev: '6.0.0'
  hooks:
      - id: flake8
        args: [ '--max-line-length=88', '--extend-ignore=E203,E501,W503', '--exclude=.venv' ]
- repo: https://github.com/python-poetry/poetry
  rev: '1.5.1'
  hooks:
    - id: poetry-check
    - id: poetry-lock
    - id: poetry-export
      args: [ "-f", "requirements.txt", "-o", "requirements.txt", '--without-hashes' ]
    - id: poetry-export
      args: [ "-f", "requirements.txt", "-o", "requirements-dev.txt", "--with", "dev", "--without-hashes" ]
