config-version: 1

root-folder: "./demo/{{ env_var('SCENARIO_NAME')}}"
snowflake-user: "{{ env_var(SNOWFLAKE_USER)}}"
snowflake-account: "{{ env_var(SNOWFLAKE_ACCOUNT)}}"

change-history-table: "{{ env_var('SNOWFLAKE_DATABASE')}}.{{ env_var('MY_TARGET_SCHEMA')}}.CHANGE_HISTORY"
create-change-history-table: true

vars:
  database_name: "{{env_var('SNOWFLAKE_DATABASE')}}"
  schema_name: "{{env_var('MY_TARGET_SCHEMA')}}"
