config-version: 1

change-history-table: "{{ env_var('SNOWFLAKE_DATABASE')}}.{{ env_var('MY_TARGET_SCHEMA')}}.CHANGE_HISTORY"
create-change-history-table: true
initial-deployment: true  # Each test run creates a fresh schema, so this is always an initial deployment

vars:
  database_name: "{{env_var('SNOWFLAKE_DATABASE')}}"
  schema_name: "{{env_var('MY_TARGET_SCHEMA')}}"
